[submodule "studyforrest-data-phase2"]
	path = sourcedata/phase2
	url = git@github.com:psychoinformatics-de/studyforrest-data-phase2.git
[submodule "studyforrest-data-aligned"]
	path = sourcedata/aligned
	url = /home/nastase/movieloc/data/studyforrest/studyforrest-data-aligned/
[submodule "studyforrest-data-templatetransforms"]
	path = sourcedata/tnt
	url = git@github.com:psychoinformatics-de/studyforrest-data-templatetransforms.git
[submodule "studyforrest-data-visualrois"]
	path = sourcedata/visualrois
	url = git@github.com:psychoinformatics-de/studyforrest-data-visualrois.git
[submodule "comp_stim_features"]
	path = sourcedata/comp_stim_features
	url = medusa.ovgu.de:/home/data/psyinf/forrest_gump/collection/comp_stim_features
[submodule "sourcedata/eyetrack"]
	path = sourcedata/eyetrack
	url = adina@medusa.ovgu.de:/home/data/psyinf/scratch/studyforrest-data-eyemovementlabels
[submodule "sourcedata/multimatch"]
	path = sourcedata/multimatch
	url = adina@medusa.ovgu.de:/home/adina/multimatch_forrest
